h1 {
    text-align: center;
    font-family: monospace;
}

.link {
    text-align:center; 
    position:relative; 
    display:inline-block; 
    width:33%; 
    height:1.3em; 
    vertical-align: middle;
    font-family: monospace;
}